{% extends "students/base.html" %}
{% block body%}
{% load static %}
<div class="container-fluid mt-2">
    <div class="bg-light w-100 rounded mb-3 d-flex align-items-center" style="height: 60px; box-shadow:  2px -2px 3px white">
       
      <div class="btn btn-info"><a href="{% url 'view_students' %}" class="nav-link text-center text-dark"><i class="me-2 fa fa-list"></i>All Students</a>
        </div>

    </div>
    <div class="row p-2">
        <div class="col-9 col-lg-12 col-md-12">
          <div class="card m-1">
       
            <div class="card-body d-flex ">
                <div class="col col-3 me-2 mb-2">
                    <img src="{{student.image.url }}" class="" alt="" style="width:150px; height:150px; border-radius:50%">
                </div>
                <div class="col col-7">
                  <table class="table table-responsive striped  border rounded">
                    <tbody class="shadow rounded">
                      <tr class="align-items-center justify-content-center">
                        <th style="width:250px">Student No.</th>
                        <td> <input type="text" style="width:200px" disabled value="{{student.student_no}}" class="form-control bg-light"></td>
                          
                        <th style="width:250px">Name</th>
                        <td> <input type="text" style="width:200px" disabled value="{{student.surname}} {{student.othernames}}" class="form-control bg-light"></td>
                      </tr>
                      <tr class="align-items-center justify-content-center">
                        <th>Gender</th>
                        <td> <input type="text" style="width:200px" disabled value="{{student.gender}}" class="form-control bg-light"></td>
                        <th style="width:250px">Student No.</th>
                        <td> <input type="text" style="width:200px" disabled value="{{student.student_no}}" class="form-control bg-light"></td>
                        
                      </tr>   <tr class="align-items-center justify-content-center">
                        <th>Email</th>
                        <td> <input type="text" style="width:200px" disabled value="{{student.email}}" class="form-control bg-light"></td>
                        <th style="width:250px">National id.</th>
                        <td> <input type="text" style="width:200px" disabled value="{{student.national_id}}" class="form-control bg-light"></td>
                      </tr>

                      <tr class="align-items-center justify-content-center">
                        <th>Mobile</th>
                        <td> <input type="text" style="width:200px" disabled value="{{student.phone_number}}" class="form-control bg-light"></td>
                        <th style="width:250px">Programme</th>
                        <td> <input type="text" style="width:200px" disabled value="{{student.prog_code.prog_name}}" class="form-control bg-light"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          
             </div>
              </div>
            </div>
            <div class="col-9 col-lg-12 col-md-12">
            <div class="card m-1">
          <div class="card-body">
            <h3 class="text-center">Enrollment</h3>
            Units

            {%for course in courses%}

            <h3>{{course.course_desc}}</h3>

            {% endfor%}
          
          </div>
            </div>
            </div>
    </div>
   
      
       
   
</div>
{% endblock %}